XMLExamples/Cognizant/employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.example.org/employee" 
xmlns:tns="http://www.example.org/employee">
<element name="employee">
<complexType>
<sequence>
<element name="employeeid" type="string"/>
<element name="firstname" type="string"/>
<element name="lastname" type="string"/>
<element name="salary" type="int"/>
</sequence>

</complexType>
</element>
</schema>